*{
    margin: 0;
    padding: 0;
 }

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #dcdcdc;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #dcdcdc;
}

.biografia {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
    gap: 17px;
    justify-content: center;
}

.blocoFoto{
    display: flex;
    gap: 30px;
}

.biografiacard {
    display: flex; 
    flex-direction: column; 
    padding: 20px; 
    border-radius: 20px; 
    width: 400px; 
    line-height: 40px; 
    box-shadow: 1px 1px 20px #888; 
    background-color: white;
}

.projetolei {
    display: flex; 
    flex-direction: column; 
    padding: 20px ; 
    width: 650px; 
    border-radius: 20px; 
    box-shadow: 1px 1px 20px #888; 
    background-color: white;
}

.grafico {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.presença {
    display: flex; 
    flex-direction: column; 
    padding: 20px; 
    border-radius: 20px; 
    width: 400px;
    line-height: 40px; 
    box-shadow: 1px 1px 20px #888; 
    background-color: white;
}

.posicionamento {
    display: flex; 
    flex-direction: column; 
    padding: 20px ; 
    width: 900px;
    height: auto; 
    border-radius: 20px; 
    box-shadow: 1px 1px 20px #888; 
    background-color: white;
}

@media (max-width: 1000px){/*Trata responsividade. Tem que configurar*/
    .grafico{
        flex-direction: column;
    }
}

h1{
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

.participações {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px;
    gap: 29px;
}

.posições-apresentadas {
    display: flex; 
    flex-direction: column; 
    padding: 20px;
    border-radius: 20px; 
    width: 300px; 
    line-height: 40px; 
    box-shadow: 1px 1px 20px #888;
    background-color: white;
}

.comissões {
    display: flex; 
    flex-direction: column; 
    padding: 20px; 
    border-radius: 20px; 
    width: 40vw; 
    line-height: 40px; 
    box-shadow: 1px 1px 20px #888;
    background-color: white;
}

.histórico-político {
    display: flex; 
    flex-direction: column; 
    padding: 20px; 
    border-radius: 20px; 
    width: 20vw; 
    line-height: 40px; 
    box-shadow: 1px 1px 20px #888;
    background-color: white;
}

.comentários {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px;
    margin-inline: 3.9%;
    border-radius: 20px; 
    box-shadow: 1px 1px 20px #888;
    background-color: white;
}

.comentários > h1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    margin-top: 1%;
}

.caixa-comentário {
    display: flex;
    padding: 20px;
    width: auto; 
    gap: 20px;
    line-height: 40px; 
}

.botao {
    margin-top: 10px;
    cursor: pointer;
    width: 70px;
    text-align: center;
}

textarea {
    resize: none;
    background-color: #dcdcdc;
}