/* Reset de margens e paddings, e configuração de box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Configurações gerais do body */
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.right {
  display: none;
}

header,
main {
  padding: 0 10%;
}

/* Configuração links*/
a {
  text-decoration: none;
}

/* Estilo do header */
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

/* Estilo da logo no header */
header img {
  height: 75px;
}

/* Estilo do botão de voltar no header */
header #btn-back {
  padding: 3px 20px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500; /* Font-weight: medium */
  text-decoration: none;
  border: none;
  border-radius: 0.25rem; /* 4px */
  box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2); /* #00000033 */
  color: rgb(255, 255, 255); /* #ffffff */
  background-color: rgb(239, 68, 68); /* #ef4444 */
  cursor: pointer;
}

/* Estilo do input de busca no header */
header #btn-search {
  padding: 3px 5px;
  font-size: 16px;
  font-weight: 300; /* Font-weight: light */
  border: none;
  border-radius: 0.25rem; /* 4px */
  box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2); /* #00000033 */
  background-color: rgb(255, 255, 255); /* #ffffff */
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.container {
  display: flex;
  gap: 20px;
}

.card-foto {
}

.card-biografia {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 17px;
  justify-content: center;
}

.card-biografia {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  line-height: 40px;
  box-shadow: 1px 1px 20px #888;
  background-color: white;
}

.card-projeto-de-lei {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 650px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #888;
  background-color: white;
}

.card-presença {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  line-height: 40px;
  box-shadow: 1px 1px 20px #888;
  background-color: white;
}

.card-posicionamento {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 700px;
  height: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #888;
  background-color: white;
}

.card-posições-apresentadas {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  max-width: 400px;
  line-height: 40px;
  box-shadow: 1px 1px 20px #888;
  background-color: white;
}

.card-comissões {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
  line-height: 40px;
  box-shadow: 1px 1px 20px #888;
  background-color: white;
}

.card-histórico-político {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  max-width: 400px;
  line-height: 40px;
  box-shadow: 1px 1px 20px #888;
  background-color: white;
}

.card-comentários {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  height: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #888;
  background-color: white;
}
/*O que é isso?*/
.grafico {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

.participações {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 20px;
  gap: 29px;
}

.card-comentários > h2 {
  display: flex;
  justify-content: flex-start;
  height: 10px;
  margin-left: 2%;
  margin-top: 1%;
}

.caixa-comentário {
  display: flex;
  padding: 20px;
  width: auto;
  gap: 20px;
  line-height: 40px;
  align-items: center;
}

.caixa-comentário img {
  max-height: 100px;
  border-radius: 100%;
  box-shadow: 1px 1px 20px #888;
}

.botao {
  margin-top: 10px;
  cursor: pointer;
  width: 70px;
  text-align: center;
}

textarea {
  resize: none;
  background-color: #dcdcdc;
}

/* @media (max-width: 1000px) {
  Trata responsividade. Tem que configurar
  .grafico {
    flex-direction: column;
  }
} */

/* Responsividade*/

/* @media (max-width: 480px) {
  header,
  main {
    padding: 0 5%;
  }
  main {
    grid-template-columns: minmax(100%, 1fr);
  }
  main div {
    max-width: 90vw;
  }
} */
