/* Reset de margens e paddings, e configuração de box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Configurações gerais do body */
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Configuração links*/
a {
    text-decoration: none;
}

/* Estilo do header */
header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

/* Estilo da logo no header */
header .logo {
    width: 30%;
    height: auto;
}

/* Estilo do botão de voltar no header */
header #btn-back {
    padding: 3px 20px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500; /* Font-weight: medium */
    text-decoration: none;
    border: none;
    border-radius: 0.25rem; /* 4px */
    box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2); /* #00000033 */
    color: rgb(255, 255, 255); /* #ffffff */
    background-color: rgb(239, 68, 68); /* #ef4444 */
    cursor: pointer;
}

/* Estilo do input de busca no header */
header #btn-search {
    padding: 3px 5px;
    font-size: 16px;
    font-weight: 300; /* Font-weight: light */
    border: none;
    border-radius: 0.25rem; /* 4px */
    box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2); /* #00000033 */
    background-color: rgb(255, 255, 255); /* #ffffff */
}

/* Estilo do container principal */
.container {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}

/* Estilo da área principal */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    margin: 5%;
}

/* Estilo da área de comparação */
.comparation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo das imagens na área de comparação */
.comparation img {
    width: 50%;
    height: auto;
    padding: 20px 20px 0 20px;
    border: none;
    border-radius: 0.5rem; /* 8px */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* #00000033 */
    background-color: rgb(255, 255, 255); /* #ffffff */
}

/* Estilo dos elementos vereadores */
.vereador-principal,
.vereador-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo dos botões dos vereadores */
.buttons-vereadores {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do input de nome do vereador e seleção do vereador */
#name-vereador,
#escolha-vereador {
    width: 49%;
    padding: 4px 8px;
    margin-top: 10px;
    text-align: left;
    border: none;
    border-radius: 0.25rem; /* 4px */
    font-size: 16px;
    text-overflow: ellipsis;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* #00000033 */
    color: #848484;
    background-color: rgb(255, 255, 255); /* #ffffff */
}

/* Estilo do botão de comparar */
#comparar {
    width: 100%;
    padding: 10px 0;
    margin: 10px;
    border: none;
    border-radius: 0.25rem; /* 4px */
    font-size: 20px;
    box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2); /* #00000033 */
    color: rgb(255, 255, 255); /* #ffffff */
    background-color: rgb(29, 116, 230); /* #1d74e6 */
    cursor: pointer;
}

/* Estilo do footer */
footer {
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
    color: white; /* #ffffff */
    background-color: rgb(29, 116, 230); /* #1d74e6 */
    display: flex;
    justify-content: center;
    align-items: center;
}
