{% include 'head.html'%}
<title>Debbugers | Comparação</title>

<!-- <body class="w-full h-full overflow-x-hidden"> -->
  <main class="flex flex-col justify-center items-center gap-9">
    <section class="flex flex-col items-center max-w-md">
      <div
        class="comparation flex justify-center items-center w-full gap-5 mb-5"
      >
        <!-- Vereador Principal -->
        <div class="vereador-principal flex justify-center items-center">
          <img
            class="w-11/12 h-auto rounded-lg custom-shadow bg-white"
            src="{{url_for('static' , filename='images/VER. AMÉLIA NAOMI.jpg')}}"
            alt="Imagem do Candidato"
          />
        </div>
        <!-- Vereador Secundário -->
        <div class="vereador-secondary flex justify-center items-center">
          <img
            class="w-11/12 h-auto rounded-lg custom-shadow bg-white"
            src="{{url_for('static' , filename='images/img_ex_cand.png')}}"
            alt="Imagem do Candidato"
          />
        </div>
      </div>
      <div class="buttons-vereadores flex justify-between items-center w-full">
        <!-- Input de nome do vereador -->
        <!-- <input type="submit" value="Nome do vereador" id="name-vereador" /> -->
        <h3 class="ml-5">AMÉLIA NAOMI</h3>

        <!-- Seleção de candidato -->
        <select
          class="w-[47%] p-1 px-2 mt-1.5 mb-2.5 text-left rounded text-base text-ellipsis custom-shadow text-custom-gray bg-white"
          name="escolha-candidato"
          id="escolha-vereador"
        >
          <option value="" selected>Escolha um candidato</option>
          <option value="DR. JOSÉ CLAUDIO">Dr. José Claudio</option>
          <option value="DULCE RITA">Dulce Rita</option>
          <option value="FABIÃO ZAGUEIRO">Fabião Zagueiro</option>
          <option value="FERNANDO PETITI">Fernando Petiti</option>
          <option value="JULIANA FRAGA">Juliana Fraga</option>
          <option value="JÚNIOR DA FARMÁCIA">Júnior Da Farmácia</option>
          <option value="JUVENIL SILVÉRIO">Juvenil Silveiro</option>
        </select>
      </div>
      <!-- Botão de Comparar -->
      <button
        class="comparar w-full py-2.5 m-2.5 rounded text-xl text-white bg-[#1d74e6] cursor-pointer"
        id="comparar"
      >
        Comparar
      </button>
    </section>

    <!-- <table class="font-arial border-collapse w-full max-w-[1000px] overflow-x-auto mb-16">
        <tr>
          <td>PT (Partido dos Trabalhadores)</td>
          <th>PARTIDO</th>
          <td>-</td>
        </tr>
        <tr>
          <td>2</td>
          <th>MANDATO</th>
          <td>-</td>
        </tr>
        <tr>
          <td>84%</td>
          <th>PRESENÇA</th>
          <td>-</td>
        </tr>
        <tr>
          <td>5</td>
          <th>COMISSÕES</th>
          <td>-</td>
        </tr>
        <tr>
          <td>13</td>
          <th>
            LEIS <br />
            APROVADOS
          </th>
          <td>-</td>
        </tr>
        <tr>
          <td>total 56 <br />Moções 32 <br />Requerimentos 24</td>
          <th>
            PROPOSIÇÕES <br />
            APRESENTADAS
          </th>
          <td>-</td>
        </tr>
      </table>
    </main> -->
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer
      class="flex justify-center items-center text-center w-full h-[5%] p-2.5 fixed bottom-0 bg-[#1d74e6]"
    >
      <p class="text-white">
        @2024 Copyright | Fatec Jassen Vidal - São José dos Campos
      </p>
    </footer>
    <!-- End of Footer -->
    <!-- </body> -->
  </main>
</body>
