<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include 'head.html'%}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/comparationPage.css') }}"
    />
    <title>Debbugers | Comparação</title>
  </head>
  <body>
    {% include 'header.html'%}
    <main class="flex flex-col justify-center items-center gap-9">
      <section class="flex flex-col items-center max-w-md">
        <div
          class="comparation flex justify-center items-center w-full gap-5 mb-5"
        >
          <!-- Vereador Principal -->
          <div class="vereador-principal flex justify-center items-center">
            <img
              class="w-11/12 h-auto rounded-lg custom-shadow bg-white"
              src="{{vereador1[2]}}"
              alt="Imagem do Candidato: {{ vereador1[0] }}"
            />
          </div>
          <!-- Vereador Secundário -->
          <div class="vereador-secundario flex justify-center items-center">
          {% if vereador2 %}
          <img
            class="w-11/12 h-auto rounded-lg custom-shadow bg-white"
            src="{{ vereador2[2] }}"
            alt="Imagem do Candidato: {{ vereador2[0] }}"
          />
          {% else %}
          <img
            class="w-11/12 h-auto rounded-lg custom-shadow bg-white"
            src="{{ url_for('static', filename='images/img_ex_cand.png') }}"
            alt="Imagem do Candidato"
          />
          {% endif %}
        </div>
        </div>
        <div
          class="buttons-vereadores flex justify-between items-center w-full"
        >
          <!-- Input de nome do vereador -->
          <h3 class="ml-5">{{ vereador1[0] }}</h3>

          {% if vereador2 %}

          <h3 class="ml-5">{{ vereador2[0] }}</h3>

          {% else %}

          <!-- Seleção de candidato -->
          <form method="POST" class="flex flex-col items-center">
            <select
              class="w-[47%] p-1 px-2 mt-1.5 mb-2.5 text-left rounded text-base text-ellipsis custom-shadow text-custom-gray bg-white"
              name="vereador2"
              required
            >
              <option value="" selected>Escolha um candidato</option>
              {% for vereador in vereadores %}
              <option value="{{vereador[1]}}">{{vereador[0]}}</option>
              {% endfor %}
            </select>
            <!-- Botão de Comparar -->
            <button
              class="comparar w-full py-2.5 m-2.5 rounded text-xl text-white bg-[#1d74e6] cursor-pointer"
              id="comparar"
            >
              Comparar
            </button>
          </section>
          </form>
          {% endif %}
        </div>

        {% if vereador2 %}        
        <table class="font-arial border-collapse w-full max-w-[1000px] overflow-x-auto mb-16">
          <tr>
            <td>{{vereador1[3]}}</td>
            <th>PARTIDO</th>
            <td>{{vereador2[3]}}</td>
          </tr>
          <tr>
            <td>{{vereador1[10]}}</td>
            <th>MANDATO</th>
            <td>{{vereador2[10]}}</td>
          </tr>
          <tr>
            <td>{{ (vereador1[9] * 100 / vereador1[8]) | round(1) }}%</td>
            <th>PRESENÇA</th>
            <td>{{ (vereador2[9] * 100 / vereador2[8]) | round(1) }}%</td>
          </tr>
          <tr>
          <td>{{vereador1[7]}}</td>
          <th>COMISSÕES</th>
          <td>{{vereador2[7]}}</td>
        </tr>
        <tr>
          <td></td>
          <th>
            LEIS <br />
            APROVADOS
          </th>
          <td>-</td>
        </tr>
        <tr>
          <td>Total {{vereador1[4]}} <br />Moções {{vereador1[5]}} <br />Requerimentos {{vereador1[6]}}</td>
          <th>
            PROPOSIÇÕES <br />
            APRESENTADAS
          </th>
          <td>Total {{vereador2[4]}} <br />Moções {{vereador2[5]}} <br />Requerimentos {{vereador2[6]}}</td>
        </tr>
      </table>
    </main>
    {% endif %}
    

      <!-- Footer -->
      <footer
        class="flex justify-center items-center text-center w-full h-[5%] p-2.5 fixed bottom-0 bg-[#1d74e6]"
      >
        <p class="text-white">
          @2024 Copyright | Fatec Jassen Vidal - São José dos Campos
        </p>
      </footer>
      <!-- End of Footer -->
      <!-- </body> -->
    </main>
  </body>
</html>
