<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<header>
  <!-- Logo team -->
   <a href="/">
     <img src="{{ url_for('static', filename='images/logo.png') }}" />
   </a>
  <div class="right">
    <!-- Botão de buscar por filtros -->
    <input id="btn-filter" type="submit" value="Filtro" name="filter" />
    <!-- Input de busca por nome, partido, comissões, etc. -->
    <input
      id="btn-search"
      type="text"
      name="search"
      placeholder="Pesquise aqui"
    />
  </div>
</header>

