<!DOCTYPE html>
<html lang="pt-BR">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Home</title>
        <link rel="stylesheet" href="home.css"/>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="debuggers.png" alt="Logo"> 
            </div>

            <div class="filtros">
                <label for="filtro">Filtro</label>
                <input type="filtro" id="filtro" name="filtro">
            
                <label for="busca">Busca</label>
                <input type="busca" id="busca" name="busca">
            </div>
        </div>
    </header>

    <main>
        <section>
            <div class="grid-container">
                <div class="item">
                    <img src="amélia.jpg" style="border-radius: 15px;">
                    <h1>Amélia Naomi</h1>
                </div>

                <div class="item">
                    <img src="fundo1.jpg" style="border-radius: 15px;">
                </div>

                <div class="item">
                    <img src="fundo2.jpg" style="border-radius: 15px;">
                </div>

                <div class="item">
                    <img src="fundo3.jpg" style="border-radius: 15px;">
                </div>
            </div>

        </section>
    </main>
</body>
</html>
    
