<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% include 'head.html'%}
        <link
          rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/index.css') }}"
        />
        <title>Debbugers | Homepage</title> 
      </head>
    <body>
        {% include 'header.html' %}
        <main>
            <div class="item card">
                <button id="open-modal">
                    <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </button>
                <h2>Amélia Naomi</h2>
            </div>
            
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>
                <div class="item">                   
                        <img src="{{ url_for('static', filename='images/VER. AMÉLIA NAOMI.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                    <h2>Amélia Naomi</h2>
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/fundo.jpg') }}" style="border-radius: 15px; box-shadow: 1px 1px 20px #888">
                </div>
            </div> 
    </main>
    <script
      src="{{url_for('static' , filename='scripts/script.js')}}"
      defer
    ></script>
  </body>
</html>
