<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include 'head.html'%}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <title>Debbugers | Homepage</title>
  </head>

  <body class="overflow-x-hidden">

    <main class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 px-10 mt-12">

      <div class="item card flex flex-col items-center gap-2">
        {% for vereador in vereadores %}

        <button class="open-modal" 
          data-name="{{ vereador[1] }}" 
          data-telefone="{{ vereador[6] }}" 
          data-partido="{{ vereador[3] }}" 
          data-email="{{ vereador[5] }}" 
          data-img="{{ vereador[2] }}">
            
          <img src="{{ vereador[2] }}" class="rounded-xl shadow-xl max-h-60" alt="{{ vereador[1] }}">
        </button>

        <h2 class="text-lg leading-7">{{ vereador[1] }}</h2>
        {% endfor %}
      </div>

      {% include 'modal.html' %}
    </main>
    <script src="{{url_for('static' , filename='scripts/script.js')}}" defer></script>
  </body>
</html>
