{% include 'head.html'%}
<!-- Header -->
<header>
   <!-- Logo team -->
   <a href="/">
   <img src="{{ url_for('static', filename='images/logo.png') }}" />
   </a>
</header>
<title>Debbugers | Perfil</title>

<div id="spinner" class="flex items-center justify-center w-full h-full fixed top-0 left-0 bg-white bg-opacity-75 z-50">

   <div role="status">
      <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
         <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
      </svg>
      <span class="sr-only">Loading...</span>
   </div>
</div>

<!-- 0 - ID ; 1 - Nome ; 2 - Partido ; 3 email -  ; 4 - telefone ; 5 - texto ; 6 - foto -->
 
<section id="content" style="display: none;"> 

<main class="flex flex-col items-center gap-5 p-4 bg-[#D3D3D3]">
   <div id="spinner" class="hidden flex items-center justify-center w-full h-full fixed top-0 left-0 bg-white bg-opacity-75 z-50">
      <div role="status">
          <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
          </svg>
          <span class="sr-only">Loading...</span>
      </div>
   </div>   <div class="flex flex-col md:flex-row gap-5 w-full">
      <div class="card-biografia p-5 rounded-2xl bg-white w-full md:w-1/3" style="box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2);">
         <img src="{{ vereador[6]}}" alt="" class="rounded-full w-32 h-32 mx-auto mb-4 object-cover object-top">
         <h1 class="text-2xl text-center mb-3">Candidato(a)</h1>
         <p class="text-center">Nome: {{ vereador[1]}}</p>
         <p class="text-center">Telefone: {{ vereador[4]}}</p>
         <p class="text-center">Partido: {{ vereador[2]}}</p>
         <p class="text-center">E-mail: {{ vereador[3]}}</p>
      </div>
      <div class="card-projeto-de-lei p-5 rounded-2xl bg-white w-full md:w-2/3" style="box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2);">
         <h1 class="text-2xl text-center mb-3">Projetos de lei</h1>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>
      </div>
   </div>
   <div class="flex flex-col md:flex-row gap-5 w-full">
      <div class="card-presença p-5 rounded-2xl bg-white w-full md:w-2/5" style="box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2);">
         <h1 class="text-2xl text-center mb-3">Presença nas sessões</h1>
         <canvas id="presenca" width="100%" height="100%"></canvas>
      </div>
      <div class="card-posicionamento p-5 rounded-2xl bg-white w-full md:w-3/5" style="box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2);">
         <h1 class="text-2xl text-center mb-3">Posicionamento nas votações</h1>
         <canvas id="posicionamento"></canvas>
      </div>
   </div>
   <div class="flex flex-col md:flex-row gap-5 w-full">
      <div class="card-histórico-político p-5 rounded-2xl bg-white w-full md:w-2/4" style="box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2);">
         <h1 class="text-2xl text-center mb-3">Histórico político</h1>
         <div class="space-y-4">
            {% for mandato in mandatos %}
            <details class="border-b">
                <!-- Título do accordion, que ficará visível e clicável -->
                <summary class="w-full p-5 text-left text-xl font-medium bg-blue-10 rounded-md cursor-pointer hover:bg-blue-200">
                    {{ mandato[2] }} - {{ mandato[3] }} <!-- Exibe o ano e o cargo -->
                </summary>
        
                <!-- Conteúdo que será mostrado ou escondido ao clicar -->
                <div class="p-5 bg-gray-50 border-t-2 border-gray-200 rounded-md">
                    <p><strong>Partido:</strong> {{ mandato[6] }}</p>
                    <p><strong>Situação:</strong> {{ mandato[7] }}</p>
                    <p><strong>Localização:</strong> {{ mandato[5] }}{% if mandato[4] %} - {{ mandato[4] }}{% endif %}</p>
                </div>
            </details>
            {% endfor %}
        </div>        
      </div>
      <div class="card-comissões p-5 rounded-2xl bg-white w-full md:w-2/4" style="box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2);">
         <h1 class="text-2xl text-center mb-3">Comissões</h1>
         <div class="space-y-4">
            {% for comissao in comissoes %}
            <div class="p-5 bg-gray-50 border-t-2 border-gray-200 rounded-md">
               <p><strong>Comissão:</strong> {{ comissao[4] }}</p>
               <p><strong>Cargo:</strong> {{ comissao[5] }}</p>
            </div>
            {% endfor %}
         </div>  
      </div>
   </div>
   <div class="flex flex-col md:flex-row gap-5 w-full">
      <div class="card-posições-apresentadas rounded-2xl bg-white w-full md:w-full" style="box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2);">
         <h1 class="text-2xl text-center mt-5 mb-3">Proposições apresentadas</h1>
               <table id="proposicoes-table" class="display" style="width: 100%;">
                  <thead>
                     <tr>
                        <th>Processo</th>
                        <th>Tipo</th>
                        <th>Assunto</th>
                        <th>Data</th>
                        <th>Situação</th>
                        <th>Documento</th>
                     </tr>
                  </thead>
                  <tbody>
                     <!-- 
                        0 - ID
                        1 - processo
                        2 - sigla
                        3 - tipo
                        4 - assunto
                        5 - data
                        6 - protocolo
                        7 - situacao
                        8 - arquivo
                        -->
                     {% for proposicao in proposicoes %}
                     <tr>
                        <td>{{ proposicao[1] }}</td>
                        <td>{{ proposicao[3] }}</td>
                        <td>{{ proposicao[4] }}</td>
                        <td>{{ proposicao[5] }}</td>
                        <td>{{ proposicao[7] }}</td>
                        <td><a style="color:red" href="{{ proposicao[8] }}" target="_blank" rel="noopener noreferrer">Clique aqui!</a></td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
         </div>
      </div>
   </div>
   <div class="card-comentários p-5 rounded-2xl bg-white w-full md:w-full" style="box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2);">
      <div class="caixa-comentário flex flex-col">
         <form class="w-full comentario" method="POST">
            <div class="flex flex-col gap-4 w-full">
               <input
                  type="text"
                  name="come_usuario"
                  placeholder="Nome de usuário"
                  class="border rounded p-2"
                  required
                  />
               <div class="rating flex text-4xl gap-2">
                  <span class="star cursor-pointer text-gray-400 transition-colors duration-200 ease-in-out hover:text-yellow-500" data-index="1" onclick="setRating(1)">&#9733;</span>
                  <span class="star cursor-pointer text-gray-400 transition-colors duration-200 ease-in-out hover:text-yellow-500" data-index="2" onclick="setRating(2)">&#9733;</span>
                  <span class="star cursor-pointer text-gray-400 transition-colors duration-200 ease-in-out hover:text-yellow-500" data-index="3" onclick="setRating(3)">&#9733;</span>
                  <span class="star cursor-pointer text-gray-400 transition-colors duration-200 ease-in-out hover:text-yellow-500" data-index="4" onclick="setRating(4)">&#9733;</span>
                  <span class="star cursor-pointer text-gray-400 transition-colors duration-200 ease-in-out hover:text-yellow-500" data-index="5" onclick="setRating(5)">&#9733;</span>
               </div>
               <textarea name="come_texto" maxlength="300" class="border rounded p-2 bg-[#D3D3D3]" required></textarea>
               <button type="submit" class="btn btn-primary flex bg-[#D3D3D3] w-16 justify-center text-lg rounded-2xl">Enviar</button>
            </div>
         </form>
      </div>
   </div>
   <div class="card-comentários p-5 rounded-2xl bg-white w-full md:w-full" style="box-shadow: 5px 5px 59px rgba(0, 0, 0, 0.2);">
      <div class="comentarios">
         <h1 class="text-xl text-center pb-10">Comentários</h1>
         {% if comentarios %}
         <div class="come_lista space-y-6">
            {% for comentario in comentarios %}
            <div class="comentario p-6 bg-white rounded-lg shadow-lg border-t-4 border-gray-500">
               <div class="comentario-header flex flex-col space-y-2">
                  <strong class="text-xl font-semibold text-gray-800">{{ comentario[1] }}</strong>
                  <div class="flex items-center space-x-2">
                     <!-- Exibe a avaliação com as estrelas -->
                     <span class="avaliacao text-lg font-medium">
                     {{ comentario[5] }}
                     <span class="text-yellow-500 text-xl">&#9733;</span>
                     </span>
                  </div>
               </div>
               <div class="comentario-body mt-2 text-gray-700">
                  <p>{{ comentario[3] }}</p>
               </div>
               <div class="comentario-footer mt-4 text-sm text-gray-500">
                  <small>{{ comentario[2] }}</small>
               </div>
            </div>
            {% endfor %}
         </div>
         {% else %}
         <p class="text-center text-lg text-gray-600">Este vereador ainda não tem comentários.</p>
         {% endif %}
      </div>
   </div>
   </div>
</main>
</section>

<script src="../static/scripts/presenca.js"></script>
<script src="../static/scripts/posicionamento.js"></script>
<script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">

<script>
   $(document).ready(function() {
       $('#proposicoes-table').DataTable({
           scrollY: '600px',
           scrollCollapse: true,
           responsive: true, 
           language: {
               url: "{{ url_for('static', filename='scripts/pt-BR.json') }}"
           },
           paging: true,
           lengthChange: true,
           lengthMenu: [10, 25, 50, 100],
           pageLength: 10
       });
   });

   window.onload = function() {
       const spinner = document.getElementById('spinner');
       const content = document.getElementById('content');
       
       setTimeout(() => {
           spinner.style.display = 'none';
           content.style.display = 'block';
       }, 3000); // Exibe o conteúdo após 5 segundos
   };
   
</script>