<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/information.css">

</head>
<body>
    <main>
        <section class="biografia">
            <div class="blocoFoto">
                <div style="display: flex; width: 30%;">
                    <img src="./imagens/amélia.jpg" alt="" style="border-radius: 20px; max-width: 100%; height: auto;">
                </div>
            
                <div style="display: flex; flex-direction: column; padding: 20px; border-radius: 20px; width: 400px; line-height: 40px; box-shadow: 1px 1px 20px #888;">
                    <h1>Biografia</h1>
                    <p>Nome: Amélia Naomi Omura</p>
                    <p>Telefone: (12) 393-0761</p>
                    <p>Partido: Partido dos Trabalhadores (PT)</p>
                    <p>E-mail: amelia@pt.com.br</p>
                </div>
            </div>

            <div style="display: flex; flex-direction: column; padding: 20px ; width: 650px; border-radius: 20px; box-shadow: 1px 1px 20px #888;">
                <h1>Projeto de lei</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
            </div>
        </section>
        
        <section class="grafico">
            <div style="display: flex; flex-direction: column; padding: 20px; border-radius: 20px; width: 400px; line-height: 40px; box-shadow: 1px 1px 20px #888;">
                <h1>Presença</h1>
                <img src="./imagens/grafico.png" style="display: flex;  width: auto; height: 100%;">
            </div>

            <div style="display: flex; flex-direction: column; padding: 20px ; width: 900px; border-radius: 20px; box-shadow: 1px 1px 20px #888;">
                <h1>Posicionamento nas votações</h1>
                <img src="./imagens/grafico.png" style="display: flex;  width: auto; max-height: 300px;">
            </div>
        </section>

        <section class="participações">
            <div class="posições-apresentadas">
                <h1>Posições apresentadas</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
            </div>

            <div class="comissões">
                <h1>Comissões</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
            </div>

            <div class="histórico-político">
                <h1>Histórico político</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum perferendis vero facilis,
                    in praesentium maxime, odio ad dolores sint non. Sit vero error, consectetur odio voluptatibus
                    quia illum quisquam?
                </p>
            </div>
        </section>
    </main>

    <footer>
        <section class="comentários">
            <h1>Comentários</h1>
            <article>
                <div class="caixa-comentário">
                    <img src="./imagens/amélia.jpg" alt="" style="border-radius: 20px; max-width: 100%; height: auto; box-shadow: 1px 1px 20px #888;">
                    <div style="display: flex; flex-direction: column;">
                        <h2>Nome de usuario</h2>
                        <p>Data de publicação: <input type="date" style="margin-bottom: 20px; width: 7vw;"></p>
                        <textarea rows="7" cols="130" maxlength="300" required></textarea>
                        <button class="botao" type="button">Enviar</button>
                    </div>
                </div>
            </article>
        </section>
    </footer>

</body>
</html>
