<button id="open-modal" class="hide"></button>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">

<div id="fade" class="hide"></div>
<div id="modal" class="hide">
  <div class="left">
    <img src="" alt="Imagem do Candidato" />
  </div>
  <div class="right">
    <div class="name">
      <h1>Nome</h1>
      <p></p>
    </div>
    <div class="tel">
      <h1>Telefone</h1>
      <p></p>
    </div>
    <div class="partido">
      <h1>Partido</h1>
      <p></p>
    </div>
    <div class="email">
      <h1>Email</h1>
      <p></p>
    </div>
    <a href="comparationPage.html"><button class="comparation">Comparar</button></a>
    <a href="informationPage.html"><button class="aboutmore">Saiba mais</button></a>
    <button id="close-modal" class="close-modal bg-green-500">Voltar</button>
  </div>
</div>
